<div class="container lgift-ist">
  <%= erb :'/gifts/_errors' %>

  <div class="gift-form">
    <form class="" action="/gifts" method="post" >
      <label for="">Name</label>
      <input type="text" name="gift[name]" value="">
      <input type="submit" name="" value="Submit">
    </form>
  </div>
</div>
